    <%- include ("../partials/nav"); %>

    <div class="container mt-4 mb-5 ">
        <h1 class="mb-4">Edit Properti</h1>
    
        <form action="/property/<%= properti.id %>?_method=PUT" method="POST">
          <%- include('_form_fields') %>
        </form>
    </div>