<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mynav">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navibar" aria-controls="navibar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-5" href="/admin"> 
            <div class="d-flex d-inline ml-2"> 
                <h3 class="pr-2 text-warning"><b>El</b></h3>
                <h3><b>Hogar</b></h3>
            </div>     
        </a>
    
        <div class="collapse navbar-collapse menu" id="navibar">
            <div class="navbar-nav">
              <a class="nav-link p-3" href="/property/new"><i class="fas fa-home"></i> New Property <span class="sr-only">(current)</span></a>
              <a class="nav-link p-3" href="/users/register"><i class="fas fa-user-plus"></i> Register Admin</a>
            </div>
        </div>
    
        <div class="line">

        </div>

        <div class="icon ml-4">
            <h5>
                <a href="/users/logout" class="text-secondary">
                    <i class="fas fa-sign-out-alt fa-lg p-2 mt-2 mr-3 " data-toggle="tooltip" data-placement="left" title="Log Out"></i>
                </a>
            </h5>
        </div>
    </div>
</nav>    