<div class="row mt-5">
    <div class="col-md-5 m-auto">
      <div class="card card-body text-center">
        <div class="d-flex d-inline mt-4 mb-4 justify-content-center"> 
          <h2 class="pr-2 text-warning user-select-none"><b>El</b></h2>
          <h2 class="user-select-none"><b>Hogar</b></h2>
        </div>
        <h3 class="user-select-none">Selamat Datang</h3>
        <h2 class="user-select-none">Admin</h2>
        <h5 class="mt-5 mb-3 user-select-none ">Silahkan Login untuk Melanjutkan</h5>
        <!-- <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      > -->
        <a href="/users/login" class="btn btn-primary btn-block mt-2 mb-3 pt">Login</a>
      </div>
    </div>
</div>