<div class="row mt-5">
    <div class="col-md-5 m-auto">
      <div class="card card-body text-center">
        <h1 class="mt-5 mb-5"><b>El Hogar</b></h1>
        <h3>Selamat Datang</h3>
        <h2>Admin</h2>
        <h5 class="mt-5 mb-3">Silahkan Login untuk Melanjutkan</h5>
        <!-- <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      > -->
        <a href="/users/login" class="btn btn-primary btn-block mt-2 mb-3 pt">Login</a>
      </div>
    </div>
</div>